* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #140114;
}

.pass {
    background-color: #f15397;
    box-shadow: 12px 12px 4px -3px #ff006f2d,
                -12px -12px 4px -3px #ff006f2d;
    display: flex;
        flex-direction: column;
        gap: 10px;
    margin: 40vh auto 0 auto;
    padding: 10px 10px 10px;
    width: fit-content;
}
.pass input {
    margin: 0 auto 0 auto;
}
.pass button {
    border: none;
    color: #333333;
    font-size: small;
    font-weight: 400;
    margin: 0 auto 0 auto;
    padding: 4px 8px 4px 8px;
    width: fit-content;
}
.pass button:hover {
    color: #1a1818;
    font-weight: 800;
}

.container {
    display: none;
    margin: 5vh auto 5vh auto;
    width: 50vw;
}
.container .happy_valentine {
    background-color: #f15397;
    box-shadow: 12px 12px 4px -3px #ff006f2d,
                -12px -12px 4px -3px #ff006f2d;
    padding: 15px 15px 15px 15px;
}
.container .happy_valentine .title {
    display: flex;
        justify-content: center;
}
.container .happy_valentine .title img {
    margin: 0 0 0 5px;
    width: 20px;
}
.container .happy_valentine p {
    text-align: center;
}
.container .music {
    /* background-color: aliceblue; */
    color: #eed9e2c4;
    margin: 25px auto 0 auto;
}
.container .music figcaption{
    text-align: center;
}
.container .music audio {
    margin: 10px 0 0 0;
    width: 100%;
}
.container .figure_cont {
    color: #eed9e2c4;
    margin: 50px 0 0 0;
    text-align: center;
}
.container .figure_cont .big_pic {
    margin: 12.5px 0 0 0;
    text-align: center;
}
.container .figure_cont .big_pic img {
    border: 3px solid #f15397;
    box-sizing: border-box;
    width: 50vw;
}
.container .figure_cont .small_pic {
    display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    margin: 50px 0 0 0;
}
.container .figure_cont .small_pic img {
    border: 1px solid #f15397;
    box-sizing: border-box;
    cursor: pointer;
    width: 24vw;
}
.container .figure_cont .small_pic img:hover {
    border: 5px solid #f15397;
    filter: contrast(130%);
}
.container .figure_cont .small_pic img.active {
    border: 5px solid #f15397;
    filter: contrast(130%);
}

/* Small devices */
@media only screen and (max-width: 600px) {
    .container {
        width: 75vw;
    }
    .container .figure_cont .big_pic img {
        width: 75vw;
    }
    .container .figure_cont .small_pic img {
        width: 35vw;
    }
}